.general{
    margin: 0 auto;
    margin: 5px 10px;
    padding: 5px 10px;
    border-top: solid 5px; 
    border-right: solid 10px;
    border-left: solid 10px;
    border-bottom: solid 5px;
}     

body{
    background-image: url(../img/MangaJaponesa008.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}     

ul{
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 2.0;
    text-decoration: none;
    background-color: black;
    opacity: 50%;
    color: whitesmoke;
}

.menuIntro{
    background-color: black;
    opacity: 50%;
    color: white;
    width: 50%;
    padding: 5px;
    margin: 250px;
    text-align: center;
    backface-visibility: 50%;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.pIntro{
    font-size: 25px;
    font-style: italic;
    background-color: black;
    opacity: 50%;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li{
    display: inline-block;
    padding: 0px 20px;
    margin: 80px;
    background-color:bisque;
    border-radius: 5%;
}

h3{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    opacity: 50%;
    color: whitesmoke;
    padding: 0 40px;
}

.pImagen{
    background-color: black;
    opacity: 30%;
    color: white;
    font-size: 20px;
    text-align: center;
}

.linkOferta{
    background-color: black;
    opacity: 50%;
    color: white;
    font-size: 20px;
}

h1{
    background-color: black;
    opacity: 50%;
    color: white;
    text-align: center;
}

.pAbout{
    background-color: black;
    opacity: 50%;
    color: white;
    text-align: center;
}

.contacto1{
    background-color: black;
    opacity: 50%;
    color: white;
}

.tabla1{
    display: grid;
    grid-template-rows: 100px 100px 100px;

    background-color: black;
    opacity: 50%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid black;
    padding: 20px;
    width: 80%;
}

td{
    font-weight: bold;
    text-align: center;
    border: 2px solid;
}

th{
    font-weight: bold;
    text-align: center;
    border: 2px solid;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center;
}


.input{
    width: 200px;
    transition: all 2s;
}

.input:focus{
    background-color: lightsalmon;
    width: 400px;
}

.imgzoom{
    overflow: hidden;
    margin: 8px;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
}

.imgzoom img{
    transition: all 0.5s;
    box-sizing: border-box;
    max-width: 100%;
}

.imgzoom:hover img{
    transform: scale(1.5) rotate(5deg);
}

